*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins",sans-serif;
}

/*adding all my my section tag fixed padding*/
section{
	padding: 80px;

}
.banner{
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: black;
	background-image: "F:\adharcard&photo\pooja.jpeg";
	background-size: cover;
	background-position: right center;
}

.banner h2{
	font-size: 2.5em;
	color: #444;
	font-weight: 300;
	font-height: 1.5em;
}

.banner h2 span{
	font-size:1.2em;
	color: #efefef;
}

.banner h3{
	color: #fff;
	font-size: 1.5em;
	font-weight: 500;

}

.btn{
	position: relative;
	background: #009e66;
	display: inline-block;
	color: black;
	margin-top: 20px;
	padding: 10px 30px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;

}

/* creating about me layout in css*/

.heading{
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	color: #111;
}

.heading p{
	font-style: italic;
	font-size: 15px;
}

.heading h2{
	font-size: 3em;
	color:#009e66;
}

.content{
	display: flex;
	justify-content: space-between;
}

.contentBx{
	padding-left: 40px;
	text-align: justify;
}

.proPic{
	width: 300px;
	height: 350px;
	border-top-left-radius: 30%;
	border-bottom-right-radius: 30%;
}

.contentBx.img h2{
	font-weight: 300;
	margin-bottom: 10px;
}

.heading.bottom{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}
.btn.round{
	border-radius: 50px;
}

.bt{
	margin-top: 20px;
}

.img{
	min-width: 25%;
}

img{
	max-width: 100%;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
    display: flex;
	justify-content: space-between;
    align-items: center;
	z-index: 2;
}

header .logo{
	color: white;
	text-decoration: none;
	text-transformation: uppercase;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 2px;
}


header ul{
	position: relative;
    display: flex;
}

header ul li{
	list-style-type: none;
	position: relative;

}

header ul li a{
	position: relative;
	display:inline-block;
	margin: 0 15px;
	text-decoration: none;
	color: white;
}


header.sticky{
	background: white;
}

 
.skills h2{
	font-size: 3em;
	color:#009e66;
	margin-bottom: 30px;
}

.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 70%;
}
.bar .progress-line.javascript span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 80%;
}

.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "60%";
}
.progress-line.jquery span::after{
  content: "85%";
}
.progress-line.python span::after{
  content: "50%";
}
.progress-line.mysql span::after{
  content: "75%";
}

.contact{
    background:#111;
}

.formBx{
    min-width:60%;
}
.formBx form{
    display:flex;
    flex-direction:column;
}
.formBx form h3,
.contactInfo h3{
    color:#fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea{
    margin-bottom: 20px;
    padding:15px;
    font-size: 16px;
    background:transparent;
    border:none;
    outline:none;
    background:#161616;
    resize:vertical;
    color:#fff;
}
.formBx form input:focus,
.formBx form textarea:focus{
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    border-bottom:1px solid #009e66;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder{
    color:#999;
}
.formBx form input[type="submit"]{
    background:#009e66;
    max-width:250px;
    cursor:pointer;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.contactInfo{
    min-width:40%;
}
.contactInfo p{
    color:#999;
}
.contactInfoBx{
    position:relative;
}
.contactInfoBx .box{
    position:relative;
    padding:20px 0;
    display:flex;
}
.contactInfoBx .box .icon{
    color:#fff;
    min-width:40px;
    padding-top:4px;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
.contactInfoBx .box .text{
    color:#999;
    margin-left:20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.contactInfoBx .box .text h3{
    font-weight: 500;
    color:#009e66;
    margin-bottom: 0;
}
.contactInfoBx .box .text p{
    font-weight: 300;
    color:#999;
}
.contactInfoBx .boxSocial{
    display:flex;
    flex-direction:row;
    letter-spacing: 15px;
    padding-left:60px;
}
.contactInfoBx .boxSocial .fa{
    color:#009e66;
    font-size: 42px;
    cursor:pointer;
    
}
footer.copyright{
    background:#000;
    color:#fff;
    text-align: center;
    padding:10px;
}
@media (max-width: 991px)
{
    header,
    header.sticky{
        padding:20px 50px;
		z-index:2;
    }
    header .menu{
        display:none;
        z-index:1;
    }
    header .menu{
        position:fixed;
        background:#fff;
        display:block;
        top:75px;
        left:-100%;
        padding:100px 50px;
        width:100%;
        height:100vh;
        border-top:1px solid rgba(0,0,0,0.2);
        text-align:center;
        transition:0.5s;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
        -ms-transition:0.5s;
        -o-transition:0.5s;
}
    header .menu.active{
        position: fixed;
        top: 75px;
        left: 0;
        padding: 100px 50px;
        display: block;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
    }
    header ul li a{
        font-size: 20px;
        font-weight: 400;
        color:#111;
        margin:10px 0;
    }
    .toggle{
        width:40px;
        height:40px;
        background:url(images/menu.png);
        background-position:center;
        background-size:30px;
        background-repeat:no-repeat;
        cursor:pointer;
    }
    .toggle.active{
        width:40px;
        height:40px;
        background:url(images/close.png);
        background-position:center;
        background-size:25px;
        background-repeat:no-repeat;
        cursor:pointer;
    }
    header.sticky .toggle{
        filter:invert(1);    ;
        -webkit-filter:invert(1)    ;
    }
    section {
        padding: 100px 30px;
    }
    .banner{
        padding:150px 50px 100px;
    }
    .banner h2{
        font-size: 1.5em;
    }
    .banner h3{
        font-size: 1em;;
    }
    .textBx{
        position:relative;
        top:170px;
    }
    .btn{
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
        border-radius:50px;
        -webkit-border-radius:50px;
        -moz-border-radius:50px;
        -ms-border-radius:50px;
        -o-border-radius:50px;
    }
    .content{
        flex-direction: column;
    }
    .contentBx{
        padding:0;
    }
    .content .w50 img{
        display:block;
        margin:0 auto 30px auto;
    }
    .heading h2{
        font-size:24px;
    }
    .contentBx h3{
        font-size: 20px;
    }
    .contentBx h2{
        font-size: 20px;
        font-weight: 300;
    }
    .services .content .servicesBx{
        margin:10px;
    }
    .contactInfo{
        margin:10px 0;
    }
}

@media (max-width: 768px){
    .testimonial .content .testimonialBx{
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 30px;
    }
    .heading.bottom{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:row;
    }
}